<section id = "change_Password_Profile">
    <form action="#" class="signin-form">
        <table>
            <h4 class="heading_password">Update password for the next time login</h4>
            <br>
            <div class="input-group ">
                <div class="input-group-prepend input-icon">
                    <i class="fa fa-lock icon"></i></i>
                    <input type="password" id="pass2" class="form-control" placeholder="New password"
                        aria-label="password" ng-model="password">
                        <span class="input-group-text" onclick="myfunction2()"><i class="fa fa-eye-slash click-eye2"></i></span>
                    </div>
            </div>
            <br>
            <div class="input-group ">
                <div class="input-group-prepend input-icon">
                    <i class="fa fa-lock icon"></i></i>
                    <input type="password" id="pass3" class="form-control" placeholder="Repeat new password"
                        aria-label="password" ng-model="repeatPassword">
                    <div class="input-group-prepend">
                        <span class="input-group-text " onclick="myfunction3()"><i class="fa fa-eye-slash click-eye3"></i></span>
                    </div>
                </div>
        </table>
        <br>
    </form>
    <div class="header-btn change_profile_custom profile_button_center ">
        <a href="" class="btn custom_btn" ng-click="changePassword(password, repeatPassword)">Save Change</a>
    </div>
</section>