<section>
  <div class="col-xl-12 col-lg-12 col-md-12 custom_infor_employer">
    <div class="single-job-items mb-20">
      <div class="job-items">
        <div class="company-img company-img-details">
          <img ng-src="{{job.logo}}" alt="" />
        </div>
        <div class="job-tittle">
          <h4>{{job.jobTitle}}</h4>
          <ul>
            <li><i class="fas fa-map-marker-alt"></i>{{job.location}}</li>
            <li>{{job.minimum_salary | currencyFormat}} VNĐ - {{job.maximum_salary | currencyFormat}} VNĐ</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="job-post-details">
      <div class="post-details1 mb-50">
        <!-- Small Section Tittle -->
        <div class="small-section-tittle">
          <h4>Job Description</h4>
        </div>
        <div ng-bind-html="job.jobDescription"></div>
      </div>
      <div class="post-details2 mb-50">
        <!-- Small Section Tittle -->
        <div class="small-section-tittle">
          <h4>Required + Education + Experience</h4>
        </div>
        <div ng-bind-html="job.requirement"></div>
      </div>
    </div>
    <div class="col-xl-10 col-lg-10">
      <div class="post-details3 mb-20">
        <!-- Small Section Tittle -->
        <div class="small-section-tittle">
          <h4>Job Overview</h4>
        </div>
        <ul>
          <li>Posted date : <span>{{job.posted_date}}</span></li>
          <li>Location : <span>{{job.location}}</span></li>
          <li>Job Type : <span>{{job.type.type_name}}</span></li>
          <li>Up to : <span>{{job.maximum_salary | currencyFormat}} VNĐ</span></li>
          <li>Deadline : <span>{{job.deadline}}</span></li>
          <li>Industry : <span>{{job.industry.industry_name}}</span></li>
        </ul>
      </div>
      <div class="post-details4 mb-20">
        <!-- Small Section Tittle -->
        <div class="small-section-tittle">
          <h4>Company Information</h4>
        </div>
        <span>{{job.employer_name}}</span>
        <ul>
          <li>Web : <span><a class="link" href="{{job.website}}" target="_blank">{{job.website}}</a></span></li>
          <li>Email: <span>{{job.email}}</span></li>
        </ul>
      </div>
    </div>
  </div>
</section>