<section class="ftco-section col-xl-12 col-lg-12 col-md-12 pt-50 pb-50 custom_profile">
    <h3 class="text-center">Seeker Information</h3>
    <div class="col-xl-12 col-lg-12 col-md-12">
        <div class="row justify-content-center edit_job_input">
            <div class="col-xl-4 col-lg-4 col-md-4 edit_header">Full name: </div>
            <input type="text" class="col-xl-8 col-lg-8 col-md-8 edit_input">
        </div>
        <div class="row justify-content-center edit_job_input">
            <div class="col-xl-4 col-lg-4 col-md-4 edit_header">Address: </div>
            <input type="text" class="col-xl-8 col-lg-8 col-md-8 edit_input">
        </div>
        <div class="row justify-content-center edit_job_input">
            <div class="col-xl-4 col-lg-4 col-md-4 edit_header">Birthday: </div>
            <input type="date" class="col-xl-8 col-lg-8 col-md-8 edit_input">
        </div>
        <div class="row justify-content-center edit_job_input">
            <div class="col-xl-4 col-lg-4 col-md-4 edit_header">Phone number :</div>
            <input type="text" class="col-xl-8 col-lg-8 col-md-8 edit_input">
        </div>
        <div class="row justify-content-center edit_job_input">
            <div class="col-xl-4 col-lg-4 col-md-4 edit_header">Academic level: </div>
            <input type="text" class="col-xl-8 col-lg-8 col-md-8 edit_input">
        </div>
        <div class="row justify-content-center">
            <div class="header-btn edit_job_button">
                <a href="" class="btn custom_btn" >Signup</a>
            </div>  
        </div>
        <span class="turn_arrow" ng-click="signupService.showSignup()"><i class="fas fa-arrow-left"></i></span>
    </div>
</section>